/* Reset */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  
  /* Main Styling */
  html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
  }
  
  a {
    color: rgb(192, 107, 156);
    text-decoration: none;
  }
  
  h1, h2, h3 {
    padding-bottom: 20px;
    color:cadetblue;
  }
  
  p {
    margin: 10px 0;
  }
  
  /* Utility Classes */
  .container {
    margin: auto;
    max-width: 1920px;
    overflow: auto;
    padding: 0 20px;
  }
  
  .text-primary {
    color: #665646;
  }
  
  .lead {
    font-size: 20px;
  }
  
  .btn {
    display: inline-block;
    font-size: 18px;
    color: rgb(240, 13, 13);
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #ec7804;
    color: rgb(236, 199, 199);
  }
  
  .btn-light {
    background: #f4f4f4;
    color: rgb(236, 16, 16);
  }
  
  .bg-dark {
    background: rgb(243, 11, 11);
    color: rgb(22, 1, 1);
  }
  
  .contact-info{
    color : rgb(148, 87, 87);
  }
  
  .bg-light {
    background: #58c41a;
    color: rgb(231, 19, 19);
  }
  
  .bg-primary {
    background: #e67505;
    color: rgb(243, 12, 12);
  }
  
  .clr {
    clear: both;
  }
  
  .l-heading {
    font-size: 40px;
    line-height: 1.2;
  }
  
  /* Padding */
  .py-1 { padding: 10px 0; }
  .py-2 { padding: 20px 0; }
  .py-3 { padding: 30px 0; }
  
  /* Navbar */
  #navbar {
    background: rgb(155, 127, 127);
    color: rgba(230, 26, 26, 0.466);
    overflow: auto;
  }
  
  #navbar a {
    color: rgb(241, 19, 19);
  }
  
  #navbar .logo {
    float: left;
    padding-top: 20px;
  }
  
  #navbar ul {
    list-style: none;
    float: right;
  }
  
  #navbar ul li {
    float: left;
  }
  
  #navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
  }
  
  #navbar ul li a:hover, 
  #navbar ul li a.current {
    background: rgb(90, 9, 9);
    color: #aa5d0f;
  }
  
  
  
  
  /* Features */
  .box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align:center;
    border-radius: 50%;
  }
  
  .box i {
    margin-bottom: 10px;
    border-radius: 50%;
  }
  
  
  /* PokeDeck */
  #container {
    margin: auto;
    flex-wrap: wrap;
    border-radius: 50%;
  }
  
  /* PokeDeck */
  #basket {
    margin: auto;
  
    flex-wrap: wrap;

  }
  
  .deck {
    background: rgb(235, 9, 9);
    border: 1px solid rgb(209, 127, 127);
    border-radius: 10px;
    display: flex;
    max-width: 100%;
    position: relative;
    flex-wrap: wrap;
    margin: 0.875em 0.5em;
  }
  
  .image {
    width: 240px;
    margin: 0.875em 0.5em;
    border: 1px solid rgb(236, 158, 11);
    border-radius: 50%;
    background-color: rgb(121, 78, 78);
    z-index: 3;
  }
  
  .weights {
    width: 240px;
    padding: 5px 0px 0px 150px;
    line-height: 40px;
    height: 0.05%;
    z-index: 5;
  }
  .cards {
    border: 1px solid rgb(199, 139, 139);
    border-radius: 100px;
    background-color: #f1800e;
    display: flex;
    text-align: center;
    flex-basis: auto;
    max-width: 240px;
    min-height: 300px;
    padding-bottom: 10px;
    position: relative;
    flex-wrap: wrap;
    margin: 0.875em 0.5em;
    transition: all 0.1s;
  }
  
  .cards:hover {
    transform: scale(1.1);
  }
  
  .spreadOut {
    display: flex;
    width: 240px;
  }
  .small {
    font-size: small;
    text-align: left;
    flex-basis: auto;
    margin-left: 3.5em;
    list-style: inside none;
    line-height: 1.2em;
    flex-wrap: wrap;
    margin: 0.875em 0.5em;
  }
  .movesLi {
    font-size: small;
    text-align: right;
    list-style: inside none;
    line-height: 1.2em;
    flex-wrap: wrap;
    margin: 0.875em 0.5em;
  }
  .abilityFacts {
    flex: auto;
    margin-top: 5px;
    padding-left: 10px;
    text-align: start;
    line-height: 0%;
  }
  .moveFacts {
    flex: auto;
    margin-top: 5px;
    padding-right: 10px;
    text-align: end;
    line-height: 0%;
  }
  #features {
    margin: auto;
    flex: auto;
    max-width: 90%;
    padding: 10px;
    justify-content: center;
  }
  
  #header-text {
    margin: 0 auto;
  }
  /* Footer */
  #main-footer {
    text-align: center;
    background: rgba(224, 11, 11, 0.87);
    color: rgba(207, 105, 105, 0.767);
    padding: 20px;
  }
  
  pre {
    white-space: pre-wrap;
    word-break: break-all;  
  }
  @media screen and (max-width: 992px) {
    .image {
      background-color: rgb(196, 126, 21);
    }
  }
  
  @media screen and (max-width: 568px) {
    .image {
      background-color: rgb(224, 165, 165);
    }
  }
  @media screen and (max-width: 320px) {
    .image {
      background-color: rgba(206, 206, 31, 0.849);
    }
  }
